body {
  background-color: rgb(192, 236, 193);
}

.card-container {
  padding: 5px;
  color: white;
  background-color: rgb(204, 225, 183);
  border: 1px solid white;
  display: flex;
}

.card-container h4 {
  align-content: center;
  width: 85%;
}

.card-container p {
  align-content: center;
  width: 10%;
}

.card-btn-container {
  width: 5%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}