body {
  background-color: gray;
}

.card-container {
  padding: 5px;
  color: white;
  background-color: black;
  border: 1px solid white;
  display: flex;
}

.card-container h4 {
  align-content: center;
  width: 85%;
  padding-left: 10px
}

.card-container p {
  align-content: center;
  width: 10%;
}

.card-btn-container {
  width: 5%;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}